<h2>{{model.label}}</h2>

Volume: {{model.volume}}


{{#if model.sentiment.positive}}
  Positive: {{model.sentiment.positive}}
{{/if}}

{{#if model.sentiment.neutral}}
  Neutral: {{model.sentiment.neutral}}
{{/if}}

{{#if model.sentiment.negative}}
  Negative: {{model.sentiment.negative}}
{{/if}}

{{donut-chart sentimentData}}
